<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HRNestRecruitmentTask</title>
</head>
<body>
  <nav>
    @Html.ActionLink("Home", "Index", "Home")
    @Html.ActionLink("Register", "Register", "Auth")
    @Html.ActionLink("Login", "Login", "Auth")
    @Html.ActionLink("Manage the Data", "Index", "Contact")
    @Html.ActionLink("Log out", "Logout", "Auth")
  </nav>
    @RenderBody()
</body>
</html>