@model HRNestRecruitmentTask.Models.Contact

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Layout.cshtml";
}

<h2>Details</h2>

<table>
  <tr>
    <td>Email</td>
    <td>@Model.Email</td>
  </tr>
  <tr>
  <td>Surname</td>
  <td>@Model.Surname</td>
    </tr>
  <td>BirthDate</td>
  <td>@Model.BirthDate</td>
  <tr>
  <td>Name</td>
  <td>@Model.Name</td>
    </tr>
  <tr>
  <td>Phone</td>
  <td>@Model.PhoneNumber</td>
    </tr>
</table>

