@model HRNestRecruitmentTask.Models.ContactForm

@{
  ViewBag.Title = "Create";
  Layout = "~/Views/Layout.cshtml";
}

<h2>Create</h2>

@Html.ValidationSummary(true)

<form method="post">
  @Html.LabelFor(x => x.Email)
  @Html.EditorFor(x => x.Email,new
  {
    placeholder = "Email"
  })
  @Html.ValidationMessageFor(x => x.Email)<br />

  @Html.LabelFor(x => x.Name)
  @Html.EditorFor(x => x.Name, new
{
  placeholder = "Name"
})
  @Html.ValidationMessageFor(x => x.Name)<br />

  @Html.LabelFor(x => x.BirthDate)
  @Html.EditorFor(x => x.BirthDate,new
    {
      placeholder = "Birth Date"
    })
  @Html.ValidationMessageFor(x => x.BirthDate)<br />


  @Html.LabelFor(x => x.Surname)
  @Html.EditorFor(x => x.Surname,new
    {
      placeholder = "Surname"
    })
  @Html.ValidationMessageFor(x => x.Surname)<br />

  @Html.LabelFor(x => x.PhoneNumber)
  @Html.EditorFor(x => x.PhoneNumber, new
{
  placeholder = "PhoneNumber"
})
  @Html.ValidationMessageFor(x => x.PhoneNumber)<br />
  <input type="submit" />
</form>
